*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}
a{
  text-decoration: none !important;
}
.bg{
  background-color: rgba(192, 243, 252, 0.521) !important;
  background: url(../img/bacsii.png)left/cover no-repeat;
  background-size: auto 100%;
} 
.form__data{
  padding: 3rem;
  width: 100%;
  height: 80vh;
  margin-top: 80px; 
}
.navbar-brand img{
  width: 160px;
  height: 50px;
  object-fit: fill;
  margin-top: 22px;
  margin-left: 30px;
}
.main_nav{
  position: absolute;
  top: 0px;
  left: 0px;
}
.form_title{
  color: black;
  margin-bottom: 40px;
}
.form-check-label{
  color: #b3b3b3;
}
.form-control{
  border: none !important;
  outline: none !important; 
  color: black !important;
}
.form-control:focus{
  color: white;
  border-bottom: 3px solid rgb(9, 137, 187) !important;
  border-color: none !important;
  outline: 10 !important;
  box-shadow: none !important;
  transition: all 0.1s;
}
.btn{
  padding: 0.5rem !important;
  width: 100%;  
  color: #fff !important;
  font-size: 1.2rem;  
  margin-top: 40px;
}

