body{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    
}
.img-sign{
    display: flex;   
    flex-direction: column;
}
.imgbtx{
    height: 1000px;
    width: 90%;
    position: relative;
}
.main {
    margin: 30px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 40%;
    margin-top: 130px;
    margin-left: 40%;
    
}
.form {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 25px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
    font-size: 15px;
    margin-top: 110px;
}
.form .heading {
    font-size: 30px;
    font-weight: 700;
}
.form .desc {
    text-align: center;
    color: #636d77;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}
.form-group {
display: flex;
margin-bottom: 30px;
flex-direction: column;
}
.img-logoform{
    width: 33px;
    height: 17px;
    margin-top: 10%;
    margin-left: 150px;
}
.form-control {
    height: 55px;
    padding: 15px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 20px;
 }
 .form-submit {
    outline: none;
   background-color: blue;
   margin-top: 12px;
   padding: 12px 16px;
   font-weight: 700;
   color: #fff;
   border: none;
   width: 100%;
   font-size: 20px;
   border-radius: 8px;
   cursor: pointer;
}
     
.form-submit:hover {
   background-color: blue;
}
