.btn-info{
    width: 100%;
    height: 150px;
    font-size: 30px;
    color: #fff;
    border-radius: 15px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border: none;
    font-weight: 700;
}
.btn-info:hover{
    background-color: rgb(9, 137, 187);
    
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.material-icons{
    font-size: 30px ;
    color: rgb(9, 137, 187);
    ;
    cursor: pointer;
}
.material-icons:hover{
   color:rgb(10, 11, 88);
}
.loginbs{
    background-color: rgba(192, 243, 252, 0.521);
    height: 100%;
}
.avtloginbs >img{
 width: 100%;
 height: auto;
}